$custom-background-color: #111114;
$custom-title-text-color: #ccc;
$custom-link-color: #337ab7;
$custom-content-background-color: #f2f0ec;
body {
    background-color: custom-background-color;  
}
.site-header {
    background-color: $custom-background-color;
    display: block;
    padding: 0px 0 36px 0;
    text-align: center;
    border-bottom: 1px solid $custom-background-color;
}
.site-title, .site-title:visited {
    color: $custom-title-text-color;
    margin: 0 0 20px 0;
    font-size: 2.75rem;
    font-weight: 300;
    font-family: Open Sans, sans-serif;
}
.site-nav {
    width: 100%;
    background: $custom-background-color;
    padding-top: 12px;
    padding-bottom: 14px;
    margin-bottom: 4rem;
    display: inline-block;
    border-left: 1rem solid #ED5276cc;
    position: static;
    float: none;
    border: none;
    background-color: inherit;
    text-align: left;
}
.site-nav .page-link, .site-nav .page-link:visited  {
    color: $custom-link-color;
    font-size: 1.1rem;
}
.page-content {
    background-color: $custom-background-color;   
}
.page-content .wrapper {
    padding-top: 5px;
    width: 100%;
    background-color: $custom-content-background-color;
}

.site-footer {
    background-color: $custom-background-color;
    display: block;
    border-top: 1px solid $custom-background-color;
}

.site-footer a, .site-footer a:hover, .site-footer a:visited {
    color: $custom-link-color;
}
